aiohttp
aiosignal
beautifulsoup4
certifi
charset-normalizer
deep-translator
feedparser
httpx
lxml
lxml_html_clean
newspaper3k
nltk
pillow
python-docx
python-dotenv
PyYAML
requests
tqdm
urllib3
schedule
